# PostgreSQL (Render / Supabase / Neon)
DATABASE_URL="postgresql://postgres.gedugowwapkwdgxqopsd:Dailybazaar2026.@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"

# Auth
JWT_SECRET="bcfdda3b08fbc68bf03d92b694c050bf8a4d5398f96231060e46d9d49dab13fa"

# Cloudinary
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

#Admin
ADMIN_EMAIL="admin@dailybazaar.com"
ADMIN_PASSWORD="Admin@123"
